@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{

    margin: 0;/*bring display to the center*/
    display: flex;
    justify-content: center;
    height: 100vh;/*to bring title to the center*/
    align-items: center;/*to bring title to the center*/
    background-color: salmon;
    font-family: "Permanent Marker", cursive;
     

    
}